#selector {
    width:100%;
    height:100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

/* Navbar Section */
.navbar {
    background: #e4e2dd;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 50px;
}

.navbar__links {
    color: black;
    accent-color: #e4e2dd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #babab7;  /* fallback for old browsers */
    transition: all 0.3s ease;
    color: black;
}

.navbar__links:hover {
    color: #babab7;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){ /* Mobile Responsiveness */
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

   .navbar__menu.active {
    background: #e4e2dd;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

    #navbar__logo {
        padding-left: 25px;
    }
    
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: black;
        display: block;
        cursor: pointer;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar__button {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0px;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

   #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0%;
   }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section */
.hero {
    background: #e4e2dd;
    background:linear-gradient(to right #161616 #000000);
    padding: 150px 0;
    background-image: url(/images/newmoths2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    padding-top: 250px;
    
    
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    padding: 30px;
}

.hero__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #e4e2dd;
}

.hero__heading span {
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

.hero__description {
    font-size: 60px;
    margin: 0 auto;
    color: #e4e2dd;
    background: #e4e2dd;  
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;   
}

.highlight {
    border-bottom: 4px solid rgb(0, 0, 0)
}

@media screen and (max-width: 768px){ /* Mobile Responsiveness */
    .hero__heading {
        font-size: 60px;
    }

    .hero__description {
        font-size: 40px;
    }
}

/* Main/About Section */

.main {
    background-color: #babab7;
    padding: 10rem 0;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;  /*Creates 2 Boxes side by side*/ 
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    color:#e3e3db;
    width: 100%;
    padding-left: 100px;
}

.main__content h1 {
    font-size: 2rem;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main__content h2 {
    font-size: 4rem;
    margin: 0 auto;
    color: white;
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;   
}

.main__content p {
 margin-top: 1rem;
 font-size: 2rem;
 font-weight: 700;
 color: black;
}

.main__button {
    font-size: 1.8rem;
    background: #e3e3db;     
    padding: 20px 60px;
    border: none;
    border-radius: 10px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s; 
    outline: none;
}

.main__button a {
    position: relative;
    z-index: 2;
    color: black;
    text-decoration: none;
}

.main__button:after { /*Creates hover effect*/
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    transition: all 0.35s;
    border-radius: 4px;
}

.main__button:hover {
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
}

.main__button:hover:after {
    width: 100%;
}

.main__image--container {
    text-align: center;
}

.main__image--card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1100px) { /* Mobile Responsiveness */
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
        height: 90%;
    }

    .main__content {
        padding-right: 110px;
    }

    .main__image--container {
        display: flex;
        justify-content: center;
        background-repeat: no-repeat;
    }

    .main__iamge--card {
        height: 425px;
        width: 425px;
        padding: 100rem 100rem;
    }


   .main__content {
    text-align: center;
    margin-bottom: 4rem;
    padding-left: 125px;
   }

   .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
   }

   .main__content h2 {
    font-size: 3rem;
   }

   .main__content p {
    font-size: 1.5rem;
    margin-top: 1rem;
   }
}

@media screen and (max-width: 480px) { /* Mobile Responsiveness */
    .main__image--card {
        width: 500px;
        height: 250px;
        background-repeat: no-repeat;
    }

    .main__content h1 {
        font-size: 1rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
       }
    
    .main__content p {
        margin-top: 2rem;
       }
    
    .main__button {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Designs Section */
.designs {
    background: #e3e3db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.designs h1 {
    background: black;  /* fallback for old browsers */
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.designs__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.designs__card--shirt {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    background-image: url(/images/moire_model.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.3s ease-in;
}

.designs__card--shirt h2 {
    padding-left:10px;
    text-align: left;
    padding-top: 300px;
}   

.designs__card--shirt p {
    text-align: left;
    padding-left:10px;
    margin-top: 5px;
    font-size: 20x;
}

.designs__card--shirt:hover {
    transform: scale(1.075);
    transition: o.3s ease-in;
    cursor: pointer;
}

.designs__card--hoodie {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    background-image: url(/images/moire_model.png);
    background-repeat: no-repeat;
    background-size:100%;
    transition: 0.3s ease-in;
}

.designs__card--hoodie h2 {
    padding-left:10px;
    text-align: left;
    padding-top: 300px;
}   

.designs__card--hoodie p {
    text-align: left;
    padding-left:10px;
    margin-top: 5px;
    font-size: 20x;
}

.designs__card--hoodie:hover {
    transform: scale(1.075);
    transition: o.3s ease-in;
    cursor: pointer;
}

.designs__card--jacket {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    background-image: url(/images/moire_model.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.3s ease-in;
}

.designs__card--jacket h2 {
    padding-left:10px;
    text-align: left;
    padding-top: 300px;
}   

.designs__card--jacket p {
    text-align: left;
    padding-left:10px;
    margin-top: 5px;
    font-size: 20x;
}

.designs__card--jacket:hover {
    transform: scale(1.075);
    transition: o.3s ease-in;
    cursor: pointer;
}

.designs__card--accesories {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    background-image: url(/images/moire_model.png);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.3s ease-in;
}

.designs__card--accesories h2 {
    padding-left:10px;
    text-align: left;
    padding-top: 300px;
}   

.designs__card--accesories p {
    text-align: left;
    padding-left:10px;
    margin-top: 5px;
    font-size: 20x;
}

.designs__card--accesories:hover {
    transform: scale(1.075);
    transition: o.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px) { /* Mobile Responsiveness */
    .designs__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) { /* Mobile Responsiveness */
    .designs__wrapper {
        grid-template-columns: 1fr;
    }
}

/* Footer Section */
.footer__container {
    background-color: #131313;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

#footer__logo {
    color: #e3e3dc;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    padding: 0 0rem;
}

.footer__links {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1000px;
}

.footer__links--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: center;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
    color: #e3e3dc;
}

.footer__link--items a {
    color: #e3e3dc;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
}

.footer__link--items a:hover {
    color: #babab7;
    transition: 0.3 ease-out;
}

.social__icons--links {
    color: #e3e3dc;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
    padding: 0 70px;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.website__rights {
    color: #e3e3dc;
}

@media screen and (max-width: 820px) {  /* Mobile Responsiveness */
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__links--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }

    .social__media {
        padding-right: 9rem;
    }

    .social__icons {
        padding-right: 245px;
    }
}

@media screen and (max-width: 480px) { /* Mobile Responsiveness */
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}


